<div class="container mt-4">
  <% if user_signed_in? %>
    <%= render 'form', post: @post %>
  <% end %>

  <% @posts.each do |post| %>
    <div class="row mb-4">
      <div class="col"></div>

      <div class="col-md-12 col-lg-8 col-xl-6">
        <div class="card">
          <div class="card-header">
            <% if user_signed_in? %>
              <%= post.user.email %>
            <% else %>
              Anonymous(login to view name)
            <% end %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.body %></p>
            <% if user_signed_in? && current_user.email == post.user.email %>
              <div class="link-container">
                <%= link_to "Show", post, class: "btn btn-primary" %>
                <%= link_to "Edit", edit_post_path(post), class: "btn btn-primary" %>
                <%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col"></div>
    </div>
  <% end %>
</div>
