<p id="notice"><%= notice %></p>

<h1>Root Page</h1>
    <% @posts.each do |post| %>
        <% if user_signed_in? %>
          <h1>Poster: <%= post.user.email %></h1>
        <% else %>
          <h1>Poster: Anonymous</h1>
        <% end %>
        <h2>Title: <%= post.title %></h2>
        <h3>Body: <%= post.body %></h3>
        
        <% if user_signed_in? && current_user.email == post.user.email %>
          <div class="link-container">
            <%= link_to "Show", post %>
            <%= link_to "Edit", edit_post_path(post) %>
            <%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>


        <!-- <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Post', new_post_path %>
